<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/dd7e8a6c0f.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/images/Logo.png">
    <title>TranThaiStore</title>
</head>

<body>

    <div th:include="./headerAdmin :: div"></div>
    
    <div class="container-fluid bills_page_container">
        <div class="search justify-content-center">
            <form class="row no-gutters justify-content-center bills_page_container-form" action="/admin/bills/search"
                method="get">
                <input type="text" placeholder="Search" class="input_categories" name="keyword" th:value="${keyword}">
                <button class="fas fa-search bills_page_container-btn_s" name="query" type="submit"></button>
            </form>
        </div>
        <table class="table bills_page_table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Product's name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" th:if="${bills == null or #lists.isEmpty(bills)}" class="bills_page">
                        <h3 style="text-align: center;">There are no bill matching your search results!</h3>
                    </td>
                </tr>
                <tr th:each="bill, iStat : ${bills}" class="bills_page">
                    <th class="bills_page_item" scope="row" th:text="${iStat.index + 1}">1</th>
                    <td class="bills_page_item">
                        <a class="nav-link" th:href="@{/admin/viewbill/{id}(id=${bill.id})}" href="#">
                            <span th:text="${bill.firstName} + ' ' + ${bill.lastName}"></span>
                        </a>
                    </td>
                    <td class="bills_page_item" th:text="${bill.address} + ', ' + ${bill.townCity}">Larry</td>
                    <td class="bills_page_item" th:text="${bill.email}">Larry</td>
                    <td class="bills_page_item" th:text="${bill.phoneNumber}">Larry</td>
                    <td class="bills_page_item bills_page_item__product-name">
                        <a class="nav-link" th:href="@{/admin/viewbill/{id}(id=${bill.id})}" href="#">
                            <span th:each="product : ${bill.productName}" th:text="${product} + '; '"></span>
                        </a>
                    </td>
                    <td class="bills_page_item"
                    th:text="${#numbers.formatDecimal(bill.price, 0, 'COMMA', 2, 'POINT')} + ' USD'">Larry</td>
                    <td class="bills_page_item bills_page_item__information" th:text="${bill.addInformation}">Larry</td>
                </tr>
                <tr th:if="${bills != null and !#lists.isEmpty(bills)}" class="bills_page">
                    <td colspan="8">
                        <div>
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{/admin/bills(page=1)}"><i class="fas fa-angle-double-left"></i></a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a th:href="@{/admin/bills(page=${i})}" class="product__page" th:classappend="${currentPage == i} ? 'active' : ''" th:text="${i}"></a>
                                </li>
                                <li>
                                    <a th:href="@{/admin/bills(page=${totalPages})}"><i class="fas fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>