<div>
    <div class="admin_page-background jumbotron text-center">
        <div class="d-flex flex-column justify-content-center w-100 h-100">

            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="fw-light text-white m-0" th:text="${titlePage != null ? titlePage : 'WELLCOME BACK, ADMIN'}"></h1>
                <a href="/" class="text-decoration-none">
                    <h5 class="fw-light text-white m-0">— Selling prestigious fashion —</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="menu_bar_admin-Home">
        <nav class="navbar_Admin_Home">
            <div class="col-md-8"></div>
            <div class="col-md-2 menu_bar_Admin_Home" id="Menu_bar_Admin_Home_Background">
                <a class="nav-link" th:href="@{/admin}" href="#">
                    <i class="fas fa-home"></i>
                    <div>
                        <span>
                            Admin
                            <br> Home
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-2 menu_bar_Admin_Home" id="Menu_bar_Admin_Home_Background">
                <a class="nav-link" th:href="@{/logout}" href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <div>
                        <span>
                            Logout
                        </span>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</div>