<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- Link bottraps framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login_page.css">
    <link rel="stylesheet" href="/css/taibase.css">
    <link rel="stylesheet" href="/css/tairesponsive.css">
    <link rel="stylesheet" href="/css/taimain.css">
    <link rel="icon" href="/images/Logo.png">
    <title>Login & Sign up</title>
</head>

<body>

    <div class="container-fluid header-cover" id="header-cover" th:include="./header :: div"></div>

    <div class="container-fluid space__cover"></div>
    <div class="container form_login form_login_container" id="container">
        <div class="form-container sign-up-container">
            <form th:action="@{/register}" th:object="${user}" method="post">
                <h1 class="form__heading">Sign up Account</h1>
                <div class="form-group sign-in-form-group">
                    <input type="text" name="firstName" id="firstName" required placeholder="Name"
                        class="form__input form-control form-control-lg">
                </div>
                <div class="form-group sign-in-form-group">
                    <input type="text" name="lastName" id="lastName" required placeholder="Last name"
                        class="form__input form-control form-control-lg">
                </div>
                <div class="form-group sign-in-form-group">
                    <input type="email" class="form__input form-control form-control-lg" required minlength="6"
                        placeholder="Email" name="email" id="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                        anyone else.</small>
                </div>
                <div class="form-group sign-in-form-group">
                    <input type="password" class="form__input form-control form-control-lg" required
                        placeholder="Password" name="password" id="password">
                </div>
                <input type="submit" id="register" value="Sign up"
                    class="btn btn-primary btn-block sign-in-form-group btn__signUP">
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form th:action="@{/login}" method="post">
                <h1 class="form__heading">Login Account</h1>
                <div class="login_form-group">
                    <input type="email" class="form-control__input form-control form-control-lg" placeholder="Email"
                        name="username" />
                </div>
                <div class="login_form-group">
                    <input type="password" class="form-control__input form-control form-control-lg"
                        placeholder="Password" name="password" id="password">
                </div>

                <input type="submit" id="login" value="OK"
                    class="login__btn btn btn-primary btn-block form_login-btn_login">
            </form>
            <br>

        </div>
        <div class="overlay-container">
            <div class="overlay overlay_Login_Form">
                <div class="overlay-panel overlay-left">
                    <h1 class="overlay__heading">Welcome back!</h1>
                    <p class="overlay__text">If you have already account please sign in !</p>
                    <button class="overlay__btn ghost btn_ghost_login" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="overlay__heading">Hello there!</h1>
                    <p class="overlay__text">If you don't have account please sign up !</p>
                    <button class="overlay__btn ghost btn_ghost_login" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid footer" id="aboutus">
        <div th:include="./footer :: footer"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/switchformlogin.js"></script>
    <script src="/js/hiddenNavbar.js"></script>

</body>

</html>